
  

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <p>
      <%= f.label :名前 %><br />
      <%= f.text_field :username, autofocus: true, id: "name" %>
    </p>

    <p>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </p>

    <p>
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" , id: "password" %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , id: "password_confirmation" %>
    </p>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>

  <p class=  "a"><%= render "devise/shared/links" %></p>