<% @shares.each do |share| %>
  <p>他人に対して優しくしたこと: <%= share.kindness %></p>
  <%= link_to '詳細を確認する', share_path(share.id) %>
  <%= link_to "編集", edit_share_path(share.id) %>
<% end %>
<%= link_to "新規投稿", new_share_path %>
<%= link_to "新規登録", new_user_registration_path %>

