<%= form_with(model: @share, local: true) do |f| %>
  <% if @share.errors.any? %>
  <div id="error_explanation">
    <h2><%= @share.errors.count %>件のエラーがあります。</h2>
    <ul>

    <% @share.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% notice %>

<div id="think">
  <p><%= f.label :日本から自殺者を少しでも減らすにはどうしたら良いか考えよう%></p>
  <%= f.text_area :declaration %>
</div>

<div class="bubbly-button", id="think">
  <%= f.submit "投稿" %>
</div>
<% end %>