  <p id="notice"></p>
  <div>
  <p>日本から自殺者を少しでも減らすにはどうしたら良いか考えよう:<%= @share.declaration %></p>
  </div>
<hr>
<p>コメント一覧</p>
  <div id="comments_area">
    <%= render partial: "comments/index", locals: {comments: @comments, share: @share} %>
    <%= render partial: "comments/form", locals: {comment: @comment, share: @share} %>
    <%if @share.user_id == current_user.id %>
      <%= link_to "編集", edit_share_path(@share) %>
    <% end %>
     <%= link_to "戻る", shares_path %>
  </div>
