

  <p id="notice"></p>
  <div>
  <h3>自殺を許容する社会:<%= @share.declaration %></h3>
  </div>
<hr>
<h4>コメント一覧</h4>
  <div id="comments_area">
    <%= render partial: "comments/index", locals: {comments: @comments, share: @share} %>
    <%= render partial: "comments/form", locals: {comment: @comment, share: @share} %>
    <%if @share.user_id == current_user.id %>
      <%= link_to "編集", edit_share_path(@share) %>
    <% end %>
     <%= link_to "戻る", shares_path %>
  </div>
