
<body>
<hreader>
  <div class="container">
  </div>
</header >
<div id="site-content">
  <%= form_with(model: Article.new, method: :get, url: articles_path, local: true) do |form| %>
    <%= form.label :記事検索 %>
    <%= form.text_field :title, class: "article" %>
    <%= form.submit '検索する' %>
  <% end %>

<% if @keyword.present? %>
  <p><%= @keyword %>の検索結果<%= @articles.count %>件</p>
<% end %>
        
  <ul>
    <% @articles.each do |article| %>
      <h3 class="tako">記事名: <%= link_to article.title, article_path(article.id)  %></h3></br>
    <% end %>
  </ul>

        <div class="contents">
        
        </div>

        <!--固定ボタン-->
        <a href="#top" class="topBtn" id="topBtn">TOP</a><!--/固定ボタン-->
    
    </div>
</body>
