<%= form_with(model: @article) do |f| %>
  <div class="tou">
    <div>
      <%= f.label :title %></br>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :内容 %></br>
      <%= f.text_area :body %>
    </div>
    
    <%= f.submit "投稿" %>
  </div>
<% end %>