<%= form_with(model: @article) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :内容 %>
    <%= f.text_area :body %>
  </div>
  
  <%= f.submit "投稿" %>
<% end %>