
<% breadcrumb :article, @article %>
<p class="text" id="tit">タイトル: <%= @article.title %></p>
<p class="text" id="con">内容: <%= @article.body %></p>
<p id="notice"><%= notice %></p>

<% unless @article.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(article_id: @article.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>