<%= form_with(model: Family.new, method: :get, url: families_path, local: true) do |form| %>
  <%= form.label :記事検索 %>
  <%= form.text_field :title, class: "family" %>
  <%= form.submit '検索する' %>
<% end %>

<% if @keyword.present? %>
    <p><%= @keyword %>の検索結果<%= @families.count %>件</p>
  <% end %>

<% @families.each do |family| %>
  <p>記事名: <%= link_to family.title, family_path(family.id)  %></p>
  <p>内容:<%= family.body %></p>
  <%= link_to "削除", family_path(family.id), method: :delete %>
<% end %>

<%= link_to "新規投稿", new_family_path %>
