<%= form_with(model: @family) do |f| %>
  <div>
    <%= f.label :記事名 %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :内容 %>
    <%= f.text_field :body%>
  </div>
  <%= f.submit %>
<% end %>