
<% breadcrumb :user, @user %>

<p class="midashi">フォロー数:<%= @user.following.count %></p>
<p class="midashi">フォロワー数:<%= @user.followers.count %></p>

<% @user.following.each do |a| %>

  <% if a.name.present? %>
    <p class="midashi">自分がフォローした人:<%= a.name %></p>
  <% else %>
    <p class="midashi">自分がフォローした人:<%= a.username %></p>
  <% end %>
<% end %>

<% @user.followers.each do |a| %>
  <% if a.name.present? %>
    <p class="midashi">自分をフォローした人:<%= a.name %></p>
  <% else %>
  <p class="midashi">自分をフォローした人:<%= a.username %></p>
  <% end %>
<% end %>


