<!DOCTYPE html>
<html>
  <head>
    <title>Submit</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154212487-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

  gtag('config', 'UA-154212487-1');
</script>

    <%= display_meta_tags site: 'MetaTagsサンプル' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   
  </head>
  <header>
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        <ul>
        <p class="nab"><%= link_to "トップ画面", root_path %></p></br>
        <p class="top"> <%= link_to "新規登録画面", new_user_registration_path %></p></br>
        <p class="post"><%= link_to "新規投稿画面", new_share_path %></p></br>
        <p class="posts"><%= link_to "投稿一覧画面", shares_path %></p></br>
        <p class="article"><%= link_to "記事一覧画面", articles_path %></p></br>
        <p class="user"><%= link_to "ユーザー一覧画面", users_path %></p></br>
        <p class="fav"><%= link_to "お気に入り記事一覧画面", favorites_path %></p>
        </ul>
      </div>
    </div>
    <%= breadcrumbs pretext: "You are here: ", separator: " &rsaquo; " %>

  </header>

  <body>
  <%= analytics_init if Rails.env.production? %>
    <% if user_signed_in? %>
      <p class="mypage box7"><%= link_to "マイページ", user_path(current_user.id) %></p>
      <div class="out box8"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
    <% else %>
    <% end %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
