<!DOCTYPE html>
<html>
  <head>
    <title>Submit</title>
    <%= display_meta_tags site: 'MetaTagsサンプル' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        <ul>
        <%= link_to "新規登録", new_user_registration_path %></br>
        <%= link_to "新規投稿", new_share_path %></br>
        <%= link_to "投稿一覧", shares_path %>
        </ul>
      </div>
    </div>
    <%= breadcrumbs pretext: "You are here: ", separator: " &rsaquo; " %>
  </header>

  <body>
    <% if user_signed_in? %>

      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
    <% end %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
